
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listaProductosEstaOrden = (List<ProyectoMarniLopezLopez.Models.srv_detail>)ViewBag.listaProductosEstaOrden; //Obtener la lista de productos
    ProyectoMarniLopezLopez.Models.srv_master masterEstaOrden = (ProyectoMarniLopezLopez.Models.srv_master)ViewBag.masterEstaOrden; //Obtener el master

}
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="orange">
                <i class="material-icons">weekend</i>
            </div>
            <div class="card-content">
                <div class="card-title">
                    <h4>Numero de mesa:</h4><h3>@masterEstaOrden.dtb_id</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="red">
                <i class="material-icons">store</i>
            </div>
            <div class="card-content">
                <div class="card-title">
                    <h4>Total de la mesa:</h4><h3>@masterEstaOrden.srv_total</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="gray">
                <i class="material-icons">done_all</i>
            </div>
            <div class="card-content">
                <div class="card-title">
                    <h4>Mesero Asignado:</h4><h3>@masterEstaOrden.usr_master.usr_id</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="blue">
                <i class="material-icons">list</i>
            </div>
            <div class="card-content">
                <div class="card-title">
                    <h4>Listado de Productos de esta orden</h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Cantidad
                                    </th>
                                    <th>
                                        Descripcion
                                    </th>
                                    <th>
                                        Notas
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in listaProductosEstaOrden)
                            {
                                    <tr>
                                        <td>
                                            @item.srv_qty
                                        </td>
                                        <td>
                                            @item.prd_master.prd_shdsc
                                        </td>
                                        <td>
                                            @item.srv_notes
                                        </td>

                                    </tr>
                            }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>