@model ProyectoMarniLopezLopez.Models.prd_master

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="green">
                <i class="material-icons">delete</i>
            </div>
            <div class="card-content">
                <div class="card-title">
                    <h4>Esta seguro que desea eliminar esto?</h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.prd_shdsc)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.prd_shdsc)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.prd_lgdsc)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.prd_lgdsc)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.prd_price)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.prd_price)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.cat_master.cat_dsc)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.cat_master.cat_dsc)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.sts_master.sts_dsc)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.sts_master.sts_dsc)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default" /> |
                                @Html.ActionLink("Volver a la lista", "Index")
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>