@model IEnumerable<ProyectoMarniLopezLopez.Models.pay_master>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="green">
                <i class="material-icons">credit_card</i>
            </div>
            <div class="card-content">
                <div class="card-title">
                    <h4>Listado de tipos de pago<a class="btn btn-primary btn-round pull-right" href="@Url.Action("Create")"><i class="material-icons">create</i> Crear Mesa</a></h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive table-sales">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.pay_dsc)
                                        </th>
                                        <th style="text-align:center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.pay_dsc)
                                            </td>
                                            <td style="text-align:center">
                                                <a href="@Url.Action("Details","Payment",new { id = item.pay_id })" type="button" rel="tooltip" class="btn btn-info" data-original-title="" title=""><i class="material-icons">person</i><div class="ripple-container"></div> </a>
                                                <a href="@Url.Action("Edit","Payment",new { id = item.pay_id })" type="button" rel="tooltip" class="btn btn-success" data-original-title="" title=""><i class="material-icons">edit</i><div class="ripple-container"></div></a>
                                                <a href="@Url.Action("Delete","Payment",new { id = item.pay_id })" type="button" rel="tooltip" class="btn btn-danger" data-original-title="" title=""><i class="material-icons">close</i><div class="ripple-container"></div></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>