@model Examen2WilberthMolina.Models.PaqueteModel

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
        <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idPaquete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPaquete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.incluye)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.incluye)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadPersonas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadPersonas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personaExtra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personaExtra)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new {  id = Model.idPaquete }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
