@model ProyectoMarniLopezLopez.Models.usr_master

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>usr_master</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.usr_password)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.usr_password)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.rol_master.rol_dsc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.rol_master.rol_dsc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.sts_master.sts_dsc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.sts_master.sts_dsc)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.usr_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
