@model ProyectoMarniLopezLopez.Models.dtb_master

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="green">
                <i class="material-icons">delete</i>
            </div>
            <div class="card-content">
                <div class="card-title">
                    <h4>Esta seguro que desea eliminar esto?</h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <h4>dtb_master</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.dtb_status)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.dtb_status)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.dtb_descr)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.dtb_descr)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.dtb_svc_sts.dtb_svc_sts_dsc)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.dtb_svc_sts.dtb_svc_sts_dsc)
                                </dd>

                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Delete" class="btn btn-default" /> |
                                    @Html.ActionLink("Volver a la lista", "Index")
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>